.box{
    width: 400px;
    height: 400px;
    display: block;
    transform: translate(-50, -50);
    background: green;
    color: black;
    padding: 10px;
    margin: 10px;
    position: absolute;
}

.child{
    width: 200px;
    height: 200px;
    display: block;
    background: yellow;
    color: black;
    padding: 10px;
    margin: 10px;
    position: absolute;
}

p{
    font-family: monospace;
    font-weight: 100;
}